WebApplication7/WebApplication7/Service References/ServiceReference/UserReviewSaveService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://appharustestapp1.apphb.com/UserReviewSaveService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CarsBigDataService" />
  <xs:element name="SaveReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CarsBigDataService" minOccurs="0" name="review" nillable="true" type="q1:UserReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CarsBigDataService" minOccurs="0" name="SaveReviewResult" nillable="true" type="q2:UserReviewSaveResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>